<h1>Tandem Watering Schedule</h1>

<div>
  <h2>Today's Agenda</h2>
  <% if @schedules.find_by(date: Date.today.to_s) && @schedules.find_by(date: Date.today.to_s).plants %>
    <strong><%= @schedules.find_by(date: Date.today.to_s) %></strong> 
    <% @schedules.plants.each do |plant| %>
      <p><em><%= plant %></em></p>
    <% end %>
  <% else %>
    <p>No watering scheduled for today! Check back tomorrow.</p>
  <% end %>
</div>

<div>
  <h2>Full Schedule</h2>
  <% @schedules.find_each do |schedule| %>
    <ul class="date">
     <% unless schedule.plants.empty? %>
     <li><%= schedule.date %></li>
     <ul class="plant">
      <% schedule.plants.each do |plant| %>
        <li><%= plant %></li>
      <% end %>
      </ul>
    <% end %>
    </ul>
  <% end %>
</div>